body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: honeydew;
}
header {
    color: honeydew;
    background:linear-gradient(forestgreen, rgb(8, 82, 8));
    padding: 5px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px black;
}
nav, main {
    display: inline-block;
    vertical-align: top;
}
nav {
    width: 25%;
    max-width: 200px;
}
nav * {
    display:block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

}
nav > button{
    padding: 10px 5px;
    background-color: forestgreen;
    color: white;
}
nav footer{
    padding: 0;
    margin-top: 10px;
}
main {
    width: 70%;
    max-width: 1000px;
}
main img{
    vertical-align: middle;
}
main section{
    background-color: mediumaquamarine;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 5px;


}
.low {
    background-color: darkgreen;
    color: white;
}
.moderate {
    background-color: gold;
}
.high {
    background-color: orange;
}
.veryhigh {
    background-color: crimson;
    color: white;
}
.extreme {
    background-color: darkorchid;
    color: white;
}